# =========================
# Python cache files
# =========================
__pycache__/
*.py[cod]
*$py.class

# =========================
# Virtual environments
# =========================
venv/
env/
ENV/
.venv/

# =========================
# Environment variables
# =========================
.env

# =========================
# VS Code / IDE
# =========================
.vscode/
.idea/

# =========================
# OS files
# =========================
.DS_Store
Thumbs.db

# =========================
# Database files (if any local)
# =========================
*.sqlite3
*.db

# =========================
# Logs
# =========================
*.log